* {
  margin: 0;
  padding: 0;
}
html,body{
  margin:0px;
  height:100%;
  /*overflow:hidden;*/
}
.contenedor{
  height:auto;
  width:auto;
  background-color: #6cc497;
  background-image:url("../img/fondonubes.png");
  background-repeat: repeat;
}
h1{
  padding-top: 5%;
  font-size: 3em;
  color: #FFF;
  overflow: hidden;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  display: flex;
  width: 100%;
  height: auto;
  /*border: 2.5px solid #05F;*/
  justify-content: space-around;
  padding: 5% 0% 5% 0%;
}
p{
  font-size: 2em;
  color: #FFF;
  /*text-shadow: black 0.1em 0.1em 0.2em;*/
  text-align : justify;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /*font-weight: 900;*/
}
button{
  font-size: 1.5em;
  color:white;
  background-color: inherit;
  border-color: #FFF;
  border-width:2.5px;
  border-style:dashed;
  font-family: Arial, Helvetica, sans-serif;
}
#center{
  display: flex;
  justify-content:center; 
  height: auto;
  width: 100%;
}
input{
  height:auto;
  width: 50%;
  font-size: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #6cc498;
  padding: 0 4px 0 4px;
}
.separador{
  height:3em;
  width:100%;
}
footer{
  width: 100%;
  background-color: #FFF;
  height:3em;
}
