* {
    margin: 0;
    padding: 0;
    background-color: #00CCFF;
}
#header{
    background-image:url("../img/nyvelogo.png");
    background-size:15%;
    background-repeat: no-repeat;
    background-position: center;
    height:368px;
    width: 100%;
    border: 2.5px solid #000000;
}
#bottom{
    height: 384px;
    width: 100%;
}
#qen{
    height: 200px;
    width: 200px;
    aling: center;
    border: 2.5px solid #AAFF00;
}
